@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Miratrix';
	src: url('/fonts/Miratrix.otf');
}
  
@font-face {
	font-family: 'Helvetica';
	src: url('/fonts/Helvetica.otf');
}

::-webkit-scrollbar {
  	width: 10px;
}

::-webkit-scrollbar-track {
  	background: #f1f1f1; 
  	border-radius: 30px;
}
 
::-webkit-scrollbar-thumb {
  	background: #888;
  	border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  	background: #555; 
}

html, body {
	margin: 0 !important;
}