@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-color: #212529
}

.sticky-top {
    position: sticky;
    top: 0;
}

.headerPadding {
    padding-left: 15px;
    padding-right: 10px;
}